@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #131212;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

#moviesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;

  height: 100%;
  width: 95vw;
}

.movieCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  height: 250px;
  width: 167px;
  border: none;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cardDetail {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  bottom: -100px;
  height: 93px;
  width: 100%;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.88);
  font-family: "open sans";

  transition: all 500ms ease-out;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.movieCard:hover .cardDetail {
  bottom: 0;
}

.cardDetailTitle {
  width: 100%;
  padding: 4px 10px;
  margin-top: 4px;
  text-align: left;
  align-self: flex-start;

  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardDetailBorder {
  min-height: 0.07px;
  width: calc(100% - 19px);
  background-color: black;
}
.cardDetailBody {
  display: flex;
  align-items: center;
  width: 148px;
}
.cardDetailBodyTxt {
  align-self: flex-start;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  max-width: 125px;
  max-height: 60px;
  padding-top: 1px;
  padding-right: 3px;

  font-size: 10px;
  font-weight: 300;

  text-align: left;
  text-overflow: ellipsis;
  white-space: normal;
}
.cardDetailBodyRating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 20px;

  color: white;
  font-size: 10px;
  background-color: red;
  border: none;
  border-radius: 3px;
}

.cardFullPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  font-family: Poppins;
}

.cardFullContainer {
  position: relative;
  height: 500px;
  max-width: 1030px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xBtn {
  height: 40px;
  width: 40px;

  position: absolute;
  top: -21px;
  right: -21px;
  filter: invert(100%);
}

.cardFullPoster {
  max-width: 340px;
  margin-right: 120px;
  border: 5px solid black;
  border-radius: 13px;
}

.cardFullBody {
  color: white;
}
.cardFullTitle {
  font-size: 31px;
  font-weight: 600;
}
.cardFullTagline {
  margin: 20px 0px;
  margin-top: 10px;

  font-size: 17px;
  font-style: italic;
}
.cardFullSynopsis {
  font-size: 12px;
}
.cardFullGenres {
  margin: 10px 0px;
}

.buttonGenres {
  padding: 6px 10px;
  margin-right: 10px;
  background-color: whitesmoke;
  border: none;
  border-radius: 7px;
  font-size: 9px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.buttonTrailer {
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 9px 10px;
  padding-left: 13px;
  background-color: whitesmoke;
  border: none;
  border-radius: 11px;

  font-size: 13px;
}
.playImg {
  margin-left: 10px;
  width: 24px;
}
